{% extends "layout.html" %}

{% block title %}
Plannera
{% endblock %}

{% block main %}
<!-- The Hero -->
<section class="hero">
  <div class="container col-xxl-12 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/meditation.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1500" height="1300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Plan your best moments with Plannera!</h1>
        <p class="lead">An easy to use planner that lets you focust on what matters the most. Plan your life today and make progress without hustle.</p>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up Now!</a>
      </div>
    </div>
  </div>
</section>

<!-- data -->
<section>

</section>


{% endblock %}