{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<div class="user container p-2 m-2" align="center">
<div class="card" style="width: 20rem;">
<div class="card" >
<div class="card-header">
     <h1 align="center" class="mb-3">Reset Password</h1>
</div>
<div class="card-body">
<form method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <div class="mb-3">
    <input type="password" name="password" id="password" class="form-control mx-auto w-auto" placeholder="New Password" required>
    </div>
    <div class="mb-3">
    <input type="password" name="confirmation" id="confirmation" class="form-control mx-auto w-auto" placeholder="Confirm New Password" required>
    </div>
    <button class="btn btn-primary" type="submit">Reset Password</button>
</form>
{% endblock %}