{% extends "layout.html" %}

{% block title %}
 Sign up
{% endblock %}

{% block main %}
<div class="user container p-2 m-2" align="center">
<div class="card" style="width: 18rem;">
<div class="card-header">
     <h1 align="center" class="mb-3">Sign up</h1>
</div>
<div class="card-body">
<form action="/signup" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
        <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email"
            placeholder="Email" type="Email">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy;2023</p>
</form>
</div>
</div>
</div>
{% endblock %}